h1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.credentials{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    


}
input{
    width:200px;
    margin:10px 0 10px 0;
}

#submit-btn{
    margin-top:30px;
    width:200px;
    background-color:red;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    text-size-adjust: 30px;
    padding:0;
    font-size:13px;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#des{
    height:100px;
    width:200px;
    margin-top:10px;
    font-size:11px;
}
#password{
    margin-bottom:10px;
}

